:root {
  --border: 1px solid var(--color-border);
  --san-serif: sans-serif, arial, system-ui;

  // general
  --font: var(--san-serif);
  // --background: #F3F4F6;
  --background: #fff;
  --paragraph-color: #271e1e;
  --speed: 500ms;
  --nav-size: 60px;

  //   Colors
  --white: white;
  --light-gray: #cfd4d8;
  --mid-gray: #7f8b99;
  --gray: #aaa;
  --dark-gray: #585858;
  --dark-blue: #212138;
  --light-pink: #f0f0fe;
  --mid-pink: #d1d1e4;
  --purple: #8551f6;
  --green: #6acb58;
  --red: #de4535;

  // borders
  --book-border: 1px solid #c4c4c4;

  --gray-border: 2px solid #dedede;
  --gray-border-hover: 2px solid #8b8b8b;

  --dark-gray-border: 2px solid #d5d5d5;
  --dark-gray-border-hover: 2px solid #050505;

  --purple-border: 2px solid #cfcbd6;
  --purple-border-hover: 2px solid #4b3d67;

  --thin-border: 1px solid #cfcbd6;

  --round: 3px;

  // shadows
  --general-shadow: 0px 18px 46px -26px rgba(0, 0, 0, 0.25);
  --book-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.25);
  --tool-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  --note-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

  // book
  --book-title: #252525;
  --book-author: #7a7a7a;
  --book-date: #3f3f3f;

  // button
  --button-hover: #262a2e;
}
