:root {
    --border: 1px solid var(--color-border);
    --san-serif: "Poppins", system-ui, sans-serif;
  
    // general
    --font: var(--san-serif);
    --background: #F3F4F6;
    --paragraph-color: #303030;
    --speed: 500ms;
    --nav-size: 60px;
  
    //   Colors
    --white: white;
    --light-gray: #cfd4d8;
    --mid-gray: #7F8B99;
    --gray: #727272;
    --dark-gray: #15171a;
    --dark-blue: #212138;
    --light-pink: #f0f0fe;
    --mid-pink: #d1d1e4;
    --purple: #8551f6;    
    --green: #6acb58;
    --red: #DE4535;
  
    // borders
    --book-border: 1px solid #c4c4c4;
    --book-round: 5px;
    --general-border: 2px solid #e6e6e6;    
    --round: 25px;

  
    // shadows
    --general-shadow: 0px 18px 46px -26px rgba(0, 0, 0, 0.25);
    --book-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.25);
    --tool-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    --note-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

    // book
    --book-title: #00123F;
    --book-author: #7A7A7A;
    --book-date: #E49A00;

    // button
    --button-hover: #262A2E;
  }
  